[Desktop Entry]
Name=Попавший хейтер
X-KDE-PluginInfo-Name=Попавший хейтер
X-KDE-PluginInfo-Author=LEKS PLAY
X-KDE-PluginInfo-Email=danilgannov5@gmail.com
X-KDE-PluginInfo-License=GPLv3
