[Desktop Entry]
Name=Обед уютненько
X-KDE-PluginInfo-Name=Обед уютненько
X-KDE-PluginInfo-Author=LEKS PLAY
X-KDE-PluginInfo-Email=danilgannov5@gmail.com
X-KDE-PluginInfo-License=GPLv3
