[Desktop Entry]
Name=Агартиец
X-KDE-PluginInfo-Name=Агартиец
X-KDE-PluginInfo-Author=LEKS PLAY
X-KDE-PluginInfo-Email=danilgannov5@gmail.com
X-KDE-PluginInfo-License=GPLv3
