[Desktop Entry]
Name=Свой дом
X-KDE-PluginInfo-Name=Свой дом
X-KDE-PluginInfo-Author=LEKS PLAY
X-KDE-PluginInfo-Email=danilgannov5@gmail.com
X-KDE-PluginInfo-License=GPLv3
