[Desktop Entry]
Name=Кризис
X-KDE-PluginInfo-Name=Кризис
X-KDE-PluginInfo-Author=LEKS PLAY
X-KDE-PluginInfo-Email=danilgannov5@gmail.com
X-KDE-PluginInfo-License=GPLv3
