[Desktop Entry]
Name=Военные
X-KDE-PluginInfo-Name=Военные
X-KDE-PluginInfo-Author=LEKS PLAY
X-KDE-PluginInfo-Email=danilgannov5@gmail.com
X-KDE-PluginInfo-License=GPLv3
