[Desktop Entry]
Name=ЛЕКС флаг
X-KDE-PluginInfo-Name=ЛЕКС флаг
X-KDE-PluginInfo-Author=LEKS PLAY
X-KDE-PluginInfo-Email=danilgannov5@gmail.com
X-KDE-PluginInfo-License=GPLv3
