[Desktop Entry]
Name=Кража фентанила
X-KDE-PluginInfo-Name=Кража фентанила
X-KDE-PluginInfo-Author=LEKS PLAY
X-KDE-PluginInfo-Email=danilgannov5@gmail.com
X-KDE-PluginInfo-License=GPLv3
