[Desktop Entry]
Name=Лекс чат
X-KDE-PluginInfo-Name=Лекс чат
X-KDE-PluginInfo-Author=LEKS PLAY
X-KDE-PluginInfo-Email=danilgannov5@gmail.com
X-KDE-PluginInfo-License=GPLv3
