[Desktop Entry]
Name=Каракули
X-KDE-PluginInfo-Name=Каракули
X-KDE-PluginInfo-Author=LEKS PLAY
X-KDE-PluginInfo-Email=danilgannov5@gmail.com
X-KDE-PluginInfo-License=GPLv3
